@import "../../config/variable";

@mixin btn {
  padding: $space_l;
  display: block;
  text-align: center;
  width: 10%;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
}

.c-btn--normal {
  @include btn;
  background: #444;
  color: #fff;
  @include media(){
    width: 30%;
  }
  &:hover {
    background: #fff;
    color: #444;
    border: 1px solid #444;
  }
}