@import "../config/variable";

.l-footer {
  width: 100%;
  background: #444;
  color: #fff;
  & p {
    width: $site-width;
    margin: 0 auto;
    text-align: center;
    font-size: $font-size_xl;
    padding: $space_3l;
    box-sizing: border-box;
    @include media(){
      width: 100%;
    }
  }
}